body {

  background: rgb(203,189,124);
background: linear-gradient(180deg, rgba(203,189,124,1) 0%, rgba(255,242,181,1) 12%, rgba(255,243,186,1) 20%, rgba(255,246,205,1) 48%, rgba(255,254,243,1) 84%, rgba(246,239,202,1) 100%);
}
.hero{
  background: url(background.png);
  

  background-size:cover;
  background-position:center;
  color:#fff8eb;
}

.banner {
  background-image: url('banner.png');
  color:#fff8eb;
}

.gitsvg, .foldersvg, .scratchsvg {
  fill: #fff8eb;
}

.button{
  background: #c97100;
  background: linear-gradient(0deg, #c97100 0%, #ff9814 12%, #ffdc45 50%, #fff100 100%);
  color:#9f7321;
  
  text-decoration:none;
  border-style: groove;
}

.button:hover {
  background: #c97100;
  background: linear-gradient(180deg, #c97100 0%, #ff9814 12%, #ffdc45 48%, #fff100 82%);
  color: #ffffff;
}

nav ul {
  list-style: none;

  background: #c97100;
  background: linear-gradient(0deg, #c97100 0%, #ff9814 12%, #ffdc45 50%, #fff100 100%);
}

nav a {

  color: #9f7321;
}

nav a:hover {
  border-radius: 20px;
  color: #fff8f3;
}

footer {
  background-image: url('background.png');
background-color: #ffdc45;
}

.ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.card {
  border-radius: 15px;
  padding: 1rem;
  max-width: 300px;

  box-shadow: 0 4px 20px 0 #3c2c4f60;
  background-color: #fffde5;
}

.art {
  border-radius: 10px;
}

.active {
  background-color: #c97100;
  color: #fffde5;
  border-radius: 10px;
}

/* The tag that makes the card clickable */

a {
  text-decoration: none;

  color: #514e73;
}

/* Image & hover state */



.card:hover {
  background-color: #7c52ad;
  color: #bca2d8;
}

.copyright {
  color: #ffffff;
}